@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(195, 221, 151);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#container {
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(72, 183, 146);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 10px rgb(109, 218, 109);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#formularioDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#inumero, #adicionarBtn, #finalizarBtn {
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px; 
}
#adicionarBtn:hover, #finalizarBtn:hover {
    border-color: chartreuse;
    transform: translate(3%, 2%);
    cursor: pointer;
}

#resultadoDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

#resultadoFinal {
    margin-top: 5px;
    padding: 5px;

}
